<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.GoodsMapper">
    <select id="queryAll" resultType="com.qf.entity.Goods">
        SELECT g.*,t.tname FROM goods g JOIN gtype t ON g.tid=t.id order by g.id asc
    </select>
</mapper>